# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Production build
build/

# Database files
*.sqlite
*.sqlite3

# System files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
